.body{
    background-color: white;
}

.wrapper{
    /*background-color: aliceblue;*/
    max-width: 960px;
    margin: 30px;
    padding: 30px;
    height: 300px;
}

.wrapper::after{
    content: "";
    margin: 20px 0;
    text-align: center;
    display: block;
}

.service h1, .service p{
    color: darkmagenta;
    margin: 10px 0;
    text-align: center;
}

.service {
    float: left;
    background-color: lightsalmon ;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
}

.services::after{
    content: "";
    display: block;
    clear: both;
}

.content{
    padding: 10px;
    background: #ccc;
}

.content p{
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    -webkit-column-rule: 1px solid #000;
    column-rule: 1px solid #000;
    text-align: justify;
}

section , aside {
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
}